-i https://pypi.org/simple
Django==2.2.24
django-bootstrap3==11.1.0
django-cors-headers==3.1.1
django-crispy-forms==1.8.0
django-extensions==2.2.5
django-jquery==3.1.0
django-leaflet==0.25.0
django-progressive-web-app==0.1.1
django-pwa==1.0.5
get==2019.4.13
leaflet==0.0.3
overpy==0.4
post==2019.4.13
psycopg2==2.8.4
public==2019.4.13
pydot==1.4.1
pyparsing==2.4.5
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
six==1.13.0
sqlparse==0.3.0
uwsgi==2.0.18
